.form-layout {
    border: 2px solid green;
    margin-left: 23%;
    width: 50%;
    padding: 3%;
    margin-top: 5%;
  }

.form-layout input {
    display: block;
    width: 100%;
    height: 41px;
    margin-bottom: 9px;
}