.dashboard-layout {
	background: url("../../core/img/mainbanner2.jpg")no-repeat fixed center;
	
}

.item-layout {
	background-color: #EFF1EF;
	padding: 6%;
}

.item-list {
	margin-top:4%;
}

.inner-box {
    background-color:#E3F1E2;
    padding: 26%;
}